.evaluation {
  width: 100%;
  height: 100%;
}

.radio-group {
  width: 350px;
  display: flex;
  margin-left: 600px;
}

.evaluation-main {
  margin: 0 auto;
  width: calc(100% - 120px);
  height: 100%;
  background-color: white;
  border-radius: 6px;
  border: 0.5px solid #7e6411;
}
/*Header*/
.evaluation-header {
  background-color: #e6e6e6;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border-bottom: 1px solid gray;
}

.evaluation-header p span{
  font-size: 2rem;
  color: #5c0011;
  font-weight: 600;
  margin-left: 10px;
}

.evaluation-header p {
  display: flex;
  padding: 14px 20px !important;
  font-size: 2rem;
  color: #5c0011;
  font-weight: 500;
}

.evaluation-header p svg {
  fill: #876800;
  font-size: 2rem;
  margin-right: 10px;
}

/*Content*/
.evaluation-content{
  width: 100%;
  height: 370px;
}
.evaluation-content-details{
  width: 90%;
  height: 90%;
  margin: 10px auto;
}

.evaluation-system{
  width: 100%;
  height: 96%;
  margin-top: 10px;
  overflow: auto;
}

.evaluation-system-introduce{
  width: 97%;
  height: 90px;
  padding: 10px ;
  margin: 0 auto;
  background-color: #f6f6f3cc;
  box-shadow: 3px 4px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
}
.evaluation-system-items{
  display: flex;
  width: 97%;
  height: 70px;
  padding: 10px ;
  margin: 20px auto;
  background-color: #f6f6f3cc;
  box-shadow: 3px 4px 8px rgba(0,0,0,0.1);
  border-radius: 6px;
}
.evaluation-title{
  width: 55%;
  padding: 12px 0px;
}

.evaluation-level{
  width: 45%;
  padding: 12px 0px;
}
.evaluation-content-details button{
  margin-left: 750px;
  margin-top: 10px;
  background-color: brown;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 #db5f5f, 0 6px 10px 0 #802e2e;
}