.page{
    width: 100%;
    height: 100vh;
    background-image: url("./../../img/background.png");
    background-color: #cccccc;
    background-size: cover;
    z-index: 0;
    display: flex;
    align-items: center;
    
    

  }
  .container{
    
    background: #fcfcfcb5;
    z-index: 1;
    width: 80%;
    height: 90vh;
    opacity: 0.9;
    filter: blur(0px);
    border-radius: 10px;
    margin:0 auto;
    box-shadow:
  0 12.1px 2.6px rgba(0, 0, 0, 0.018),
  0 24.9px 6.9px rgba(0, 0, 0, 0.026),
  0 40.2px 13.8px rgba(0, 0, 0, 0.032),
  0 61.7px 25.1px rgba(0, 0, 0, 0.039),
  0 100.2px 44.6px rgba(0, 0, 0, 0.047),
  0 249px 80px rgba(0, 0, 0, 0.06)
;

  }
  
  .row{
    
    width: 100%;
  }
  .box{
    background: black;
    width: 50px;
    height: 50px;
  }
  .vl {
    border-left: 2px solid rgb(247, 224, 224);
    height: 90vh;  
  }
  .col-xs-2, .col-xs-9{
    margin: 0;
    padding: 0;
  }
  .col-xs-9{
    width: 81%;
  }
  .col-xs-2{
    width: 18%;
  }
  
  .col-xs-1{
    padding: 0;
    margin: 0;
    width: 1%;
  }
  


  
  .status-line{
    display: flex;
    margin: 50px 20px;
  }
  .flex-box{
    position: relative;
    margin: 1%;
    width: 20%;
    height: 110px;
    background-color: white;
    border-radius: 5%;
    padding: 10px;
  }
  .name-depart{
    color: rgb(183, 183, 184);
    margin:  0 auto;
  }
  .value{
 
    font-size: 30px;
    margin:  0 auto;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 15px;
  }
  

  .main{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 9px;
  }