.line-in{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}
.div-scan{
  width: 40%;
}
.div-scan-information{
  width: 60%;
}
.scan-information{
  width: 100%;
  height: 500px;
  overflow: auto;
  margin: 20px auto;
}