.statistic{
  width:100%;
  height: 100vh;
}
  
  .statistic-chart{
      width: 100%;
      height: 30vh;
      background: white;
      opacity: 0.9;
      position: relative;
      border-radius: 3px;
  } 
  .from-to{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
  }
  .input-group{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-control-statistic{
    width: 150px;
    height: 20px;
    border-radius: 3px;
    z-index: 1;
    background: white;
  }
  .input-group-prepend{
    display:flex;
    justify-content:flex-end;
  }
  .input-group-text{
    margin-right: 5px;
  }
  select{
    border-width: 0px;
  }
  .input-group{
    margin-right: 3px;
  }
  .pie-chart{
    width: 100%;
    height: 40vh;
    background: white;
    border-radius: 3px;
  }
  .col-xs-3{
    padding: 0px
  }
.MuiInputBase-root{
  font-size: 1.5rem !important; 
}

.MuiFormControl-marginNormal{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
   
}
.MuiInputBase-input{
  padding :0 0 5px 0 !important;
}

.MuiPickersToolbar-toolbar  {
  height: 63px !important; 
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #763fb5 !important;
} 
.MuiPickersDay-daySelected {
  color: #fff;
  font-weight: 500;
  background-color: #763fb5  !important;
}
.MuiPickersCalendar-transitionContainer {
  margin-top: 0px !important;
  min-height: 180px !important;
}
.MuiPickersCalendarHeader-switchHeader {
  display: flex;
  margin-top: 0 !important;
  align-items: center;
  margin-bottom: 0 !important;
  justify-content: space-between;
}
.MuiPickersBasePicker-pickerView {
  display: flex;
  max-width: 325px;
  min-width: 280px !important;
  min-height: 230px !important;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
}
.filter{
  background: white;
  width: 100%;
  border-radius: 5px;
 
}
.statistic .home-revenue{
  height: 39vh;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 100%;


}
.statistic .revenue-box{
  width: 48%;
  height: 48%;
  margin:1%;
 }
.statistic-9{
  width: 75%;
  height: 100%;
}
.revenue-hk{
  background: #6972FF;
}
.revenue-254nvl{
  background: #FF8C80;
}
.revenue-03qtr{
  background: #A4DE6C;
}
.revenue-334nvl{
  background: #8DD1E1;
}