.statistic{
  width:100%;
  height: 100vh;
}
  
.statistic .statistic-chart{
      width: 100%;
      height: 38vh;
      background: white;
      opacity: 0.9;
      position: relative;
      border-radius: 3px;
  } 
  .statistic .from-to{
    display: flex;
    justify-content: flex-end;
   
    width: 100% !important;
  }
  .statistic .input-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 220px !important;
  }
  .statistic .filter-button{
    width: 6% !important;
  }
 
  .form-control-statistic{
    width: 150px;
    height: 20px;
    border-radius: 3px;
    z-index: 1;
    background: white;
  }
  .input-group-prepend{
    display:flex;
    justify-content:flex-end;
  }
  .input-group-text{
    margin-right: 5px;
  }
  select{
    border-width: 0px;
  }
  .input-group{
    margin-right: 3px;
  }
  .pie-chart{
    width: 100%;
    height: 38vh;
    background: white;
    border-radius: 3px;
  }
  .col-xs-3{
    padding: 0px
  }
.MuiInputBase-root{
  font-size: 1.5rem !important; 
}

.MuiFormControl-marginNormal{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
   
}
.MuiInputBase-input{
  padding :0 0 5px 0 !important;
}

.MuiPickersToolbar-toolbar  {
  height: 63px !important; 
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #763fb5 !important;
} 
.MuiPickersDay-daySelected {
  color: #fff;
  font-weight: 500;
  background-color: #763fb5  !important;
}
.MuiPickersCalendar-transitionContainer {
  margin-top: 0px !important;
  min-height: 180px !important;
}
.MuiPickersCalendarHeader-switchHeader {
  display: flex;
  margin-top: 0 !important;
  align-items: center;
  margin-bottom: 0 !important;
  justify-content: space-between;
}
.MuiPickersBasePicker-pickerView {
  display: flex;
  max-width: 325px;
  min-width: 280px !important;
  min-height: 230px !important;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
}
.filter{
  background: white;
  width: 100%;
  border-radius: 25px !important;
  border: none;
  height: 25px;
  font-size: 12px !important;
  justify-content: center;
}
.revenue-block{
  margin-top:5px;
}
.statistic .home-revenue{
  height: 38vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  background-color: white;


}
.total-sum{
  width: 100%;
  height: 38vh;
  padding: 10px;
  background-color: white;
 
  
}
.statistic .total-statistic{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.statistic .revenue-box{
  width: 48%;
  height: 45%;
  margin: 1%;
  padding: 15px;
 }
.statistic-9{
  width: 75%;
  height: 100%;
  padding:0;
  margin: 0;
}
.statistic .border-icon{
  height: 100%;
}
.statistic .flow-section{
  margin-top: 5px;
  height: 50%;
  width: 100%;
}
.statistic .home-flow{
  height: 50%; 
  width: 100%;
}
.col-xs-6{
  width: 49.5%;
  padding:0;
  margin: 0 1px;
}
.statistic .cicle-icon{
  width: 38%;
  height: 65px;
}
.statistic .revenue-hk{
  background-image: linear-gradient(90deg, #FC591D,#F8B132);

  box-shadow: 
  5px 5px 7px 0 rgba(0, 253, 211, 0.452),
  -5px -0px 5px 0 rgba(255, 255, 255, 0.3);
}

.statistic .revenue-254nvl{
  background-image: linear-gradient(90deg, #5C2BD7,#2B70F9);
  
  box-shadow: 
  5px 5px 7px 0 rgba(0, 253, 219, 0.384),
  -5px -0px 5px 0 rgba(255, 255, 255, 0.3);
 
}
.statistic .revenue-334nvl{
  background-image: linear-gradient(90deg, #37B684,#88C648);
  box-shadow: 
  5px 5px 7px 0 rgba(0, 46, 253, 0.25),
  -5px -0px 5px 0 rgba(255, 255, 255, 0.3);
}

.statistic .revenue-03qtr{
  background-image: linear-gradient(90deg, #F21C58,#FD5B1C);
 
  box-shadow: 
  5px 5px 7px 0 rgba(54, 151, 86, 0.25),
  -5px -0px 5px 0 rgba(255, 255, 255, 0.3);
 
}
.statistic .revenue-topup{
  background: #FF8C80;
  box-shadow: 
  5px 5px 7px 0 rgba(54, 151, 86, 0.25),
  -5px -0px 5px 0 rgba(255, 255, 255, 0.3);
 
}
.statistic .revenue-revenue{
  background: #6972FF;
  box-shadow: 
  5px 5px 7px 0 rgba(54, 151, 86, 0.25),
  -5px -0px 5px 0 rgba(255, 255, 255, 0.3);
 
}