.overview{
  font-size: 70px;
  color: #636262;
}
.greeting{
  font-size: 16px;
  color: #858585;
  margin-left: 10px;
  
}
.header-main{
  position: relative;
  margin-left: 30px;
  line-height: 50px;
  top: 20px;
  display: flex;

}
.title-header{
  position: relative;
  display: inline;
  width: 70%;
}

.header-list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

.image{
  width: 10px;
  height: 10px;
}
.header-items{
  display: flex;
  color:#929699;
  font-size: 25px;
  padding-right: 15px;
  float: right;
}
.header-items svg{
  fill: #3b3535;
  font-size: 25px;
}