.manage{
  width: 100%;
  margin-top: 50px;
}
  
td, th{
  padding: 3 !important;
}
td{
  text-align: left;
}
.form-inline .form-control{
  width: 90%;
  margin-right : 10px;
}
table{
  border-radius: 6px;
  background: linear-gradient(-45deg, rgba(161, 160, 160, 0.22), rgba(255, 255, 255, 0.25));
  box-shadow: 
  10px 10px 14px 0 rgba(148, 148, 148, 0.25),
  -8px -0px 10px 0 rgba(255, 255, 255, 0.3);
}
.header-manage{
  display: flex;
  align-items: center;
 position: relative;
  width: 100%;
}
.right{
  position: relative;
  width: 30%;
}
.title{
  position: relative;
  float: left;
  width: 70%;
  font-size: 50px;
}
.btn{
  height: 30px;
}
.btn-danger{
  background: rgb(187, 79, 101);
  box-shadow: 
  5px 5px 7px 0 rgba(163, 49, 49, 0.25),
  -6px -0px 8px 0 rgba(255, 255, 255, 0.3);
}
.btn-success{
  background: rgb(93, 194, 89);
  box-shadow:  5px 5px 7px 0 rgba(64, 168, 87, 0.25),
  -6px -0px 8px 0 rgba(255, 255, 255, 0.3);
}