.navbar{
  position: fixed;
  width: 250px;
  height: 80%;
  padding: 0px 10px;
  transition: 200ms ease;
}

.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

.nav-item{
  width: 100%;
}


.nav-link{
  display: flex;
  align-items: center;
  height: 60px;
  color:rgb(119, 119, 119);
  text-decoration: none;
}
.nav-link:hover{
  color:rgb(71, 71, 71);
  text-decoration: none;
}

.link-text{
  display: inline;
  margin-left: 10px;
  font-size: larger;
  color:rgb(131, 131, 131);
  text-decoration: none;
}
.logo-wrapper{
  margin: 0;
  padding: 0;
}
.img-fluid{
  
  border-radius: 10% 0% 0% 10%;
  width: 100%;
}