.home {
  width: 100%;
  height: 100%;
  
}
/*Left*/
.home-left{
  width: 100%;
  height: 100%;
}

.home-week-static {
  display: flex;
  width: 100%;
  height: 40%;
}

.home-month-chart{
  width: 99%;
  height: 92%;
  opacity: 0.8;
  border-radius: 6px;
  background: white;
  box-shadow: 
  10px 10px 14px 0 rgba(158, 157, 157, 0.25),
  -8px -0px 10px 0 rgba(255, 255, 255, 0.3);
}
.col-xs-8, .col-xs-4{
  padding: 0;
}

.home-week-items{
  position: relative;
  width: 25%;
  opacity: 0.8;
  margin-right: 5px;
  padding: 5px;
  height: 100%;
  background: white;
  border-radius: 5px;
  box-shadow: 
  10px 10px 14px 0 rgba(194, 193, 193, 0.25),
  -8px -0px 10px 0 rgba(255, 255, 255, 0.3);
}
.icon-title-statistics{
  position: relative;
  width: 100%;
  margin: 0px;
  
}
.home-week-info{
  height:40%
}
.home-week-info .number{
  position: relative;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: bold;
  float: right;
  width: 30%;
  
}
.icon-title-statistics .local{
  position: relative;
  font-weight: 700;
  color: #8c8c8c;
  width: 70%;
  float: left;
  
}


.home-week-chart{
  width: 100%;
  height: 120px;
}

.home-history{
  width: calc(100% - 20px);
  height: 60%;
}
.home-history-detail{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.home-history-detail  .home-history-title {
  width: 100%;
  height: 15%;
  padding: 10px 10px;
  border-bottom: 0.2px solid rgb(216, 212, 212);
}
.home-history-title h4{
    margin-top: 0;
    margin-bottom: 0.5em !important;
    font-weight: 700;
    font-size: 19px;
    padding-top: 2px !important;
    padding-left: 20px !important;
    color: #515365;
}
.home-history-table {
  height: 85%;
  overflow: hidden;
  margin: 5px 0px;
}
.div-table-history{
  height: 80%;
  width: 100%;
  overflow: hidden;
}
.home-history-table table {
  width: 95%;
  height: calc(100% - 80px);
  margin: 0 auto;
}

.home-history-table table tr th,
td {
  text-align: center;
}

.home-history-table table thead {
  background-color: #e0e6ed;
}

.home-history-table table thead th {
  color: #db5c00;
  font-weight: 600 ;
  padding: 5px 0px;
}

.btn-details-history {
  margin-top: 2%;
  margin-left: 80%;
}
.revenue-block{
  height: 50%;
  position: relative;
  display: flex;
  align-items: center;
  
}
.home-bottom-static {
  margin: 15px 5px 10px 0;
  display: flex;
  width: 100%;
  height: 60vh;
}
.home-revenue{
  width: 98%;
  height: 26%;
  background: white;
  padding: 2%;
  opacity: 1;
  border-radius: 5px;
  display: flex;

}
.home-flow{
  margin-top: 15px;
  width: 98%;
  height: 40%;
  opacity: 0.8;
  border-radius: 5px;
}
.revenue-box{
  width: 100%;
  height: 50%;
  padding: 1%;
  opacity: 0.9;
  border-radius: 10px;
  /* box-shadow: 
  10px 10px 14px 0 rgba(148, 148, 148, 0.25),
  -8px -0px 10px 0 rgba(255, 255, 255, 0.3); */
}
.revenue-monthly{
  width: 100%;
  height: 100%;
  margin-left: 2px;
  background: #6972FF;
  box-shadow: 
  5px 5px 7px 0 rgba(0, 4, 253, 0.25),
  -5px -0px 5px 0 rgba(255, 255, 255, 0.3);
}
.revenue-today{
  background: #FF8C80;
  box-shadow: 
  5px 5px 7px 0 rgba(253, 0, 0, 0.25),
  -5px -0px 5px 0 rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  margin-right: 2px;
}
.get-date{
  display: flex;
  align-items: center;
}
.moment-month{
  margin-left: 5px;
  font-size: 85%;
}
.calendar-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-calendar-alt{
  color: rgb(243, 243, 243);
}
.moment-month{
  margin-top: 3px;
  color: rgb(253, 253, 253);
}
.flow-section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin-bottom: 10px;
  background: white;
  border-radius: 5px;
}
.time{
  font-size: 100%;
  font-weight: 500;
  color: #ffffff;

}
.fa-money-bill-alt{
  color: rgb(185, 185, 34);
  zoom: 1.8;
}
.revenue{
  font-size: 100%;
  color: #ffffff;
  font-weight: 100;
}
.fa-today{
  color: #eb4d3c;
}
.fa-month{
  color: #3642eb;
}
/*Right*/
.home-right{
  width: 25%;
}
.home-user {
  width: 100%;
  height: 60%;
}
.cicle-icon{
  background: #f5f2f2;
  border-radius: 50px;
  margin-right: 5px;
  border: 1px solid #cfcece;
  width: 27%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.cicle-icon-small{
  background: #f5f2f2;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}
.icon-users{
  border: 1px solid #f0c1c1;
  border-top: 0px;
  border-left: 0px;
  
}
.icon-today{
  border: 1px solid #acb1f1;

  border-top: 0px;
  border-left: 0px;
}
.home-user-detail{
  height: calc(100% - 20px);
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}
.home-user-detail .div-img{
  position: relative;
  border-radius: 6px 6px 0px 0px;
  height: 32%;
  width: 100%;
  background-color: #db5c00;
}

.home-user-detail .div-img img {
  position: absolute;
  top: 30%;
  left:24%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}


.vehicle-flow{
  padding-right: 5px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  height: 12px;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  
  position: absolute;
  z-index: 1;
}
.user-today{
  background: #4555e6c7;
  width: 20%;
}
.users{
  background: #e64545d8;
  width: 50%;
}
.title-flow{
  margin: 5px 0;
}
.flow-perc{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flow-bar{
  width: 100%;
  position: relative;
}
.vehicle-flow-background{
  position: relative;
  padding-right: 5px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 12px;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  background: #e2e2e9;
}
.flow-block{
  width: 90%;
  float: left;
  position: relative;
}
.home-user-info {
  height: 68%;
  width: 100%;
}
.home-user-info .information{
  margin-top: 70px;
}
.home-user-info span {
  display: block;
  text-align: center;
}

.home-user-info .name {
  font-weight: 600;
}


.home-qrcode {
  position: relative;
  width: 100%;
  height: 40%;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.home-qrcode p{
  text-align: center;
  font-weight: 600;
  padding: 10px 0px !important;
}
.home-qrcode-img{
  width: 170px;
  height: 170px;
  margin: 0 auto;
}
.home-qrcode img {
  width: 170px;
  height: 170px;
}
.col-xs-4{
  margin-left: 5px;
}
.img-coin{
  position: relative;
  width: 40px;
  height: 40px;
}