.statistic {
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* .statistic::-webkit-scrollbar {
  display: none;
} */
.div-statistic-head{
  height: 15%;
}
.div-statistic-head h3{
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0px;
    padding-top: 22px !important;
    padding-left: 20px !important;
    color: #515365;
}
.statistic-row1 {
  display: flex;
  width: 100%;
  height: 380px;
}

.statistic-week {
  width: 40%;
  height: 95%;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.statistic-month {
  width: 58%;
  height: 95%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.statistic-row2 {
  display: flex;
  width: 100%;
  height: 300px;
}

.statistic-year {
  width: 100%;
  height: 100%;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.total-year {
  width: 21%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}
.total-year h4{
    padding: 30px 15px !important;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0px;
    margin-bottom: 0 !important;
    color: #515365;
}

.statistic-row3 {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: #fafafa;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}
.statistic-row3 table {
  width: 95%;
  margin: 10px auto;
}
.statistic-row3 table tr th,td {
  text-align: center;
}

.statistic-row3 table thead {
  background-color: #e0e6ed;
}

.statistic-row3 table thead th {
  color: #1b55e2;
  padding: 5px 0px;
}
.recharts-legend-item{
  display: none !important;
}