.profile-page {
  display:flex;
  width: 100%;
  height: 100%;
}
/*Image*/

.user-img .div-avatar {
  width: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 4px;
  background-color: #c44a8a;
}

.div-avatar-content{
  position: relative;
}

.avatar-edit{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.5);
}
.avatar-edit-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar-content-detail:hover .avatar-edit{
  display: block;
}

.avatar-content-detail img{
  width: 165px;
  height: 165px;
  border: 5px solid white;
  border-radius: 999px;
}
.div-avatar p{
  font-size: 18px !important;
  font-weight: 600 !important;
  color: white;
}
/*Information*/
.div-information {
  width: 100%;
  height:100%;
  background-color: #ffffff;
  box-shadow: 3px 4px 8px #f0e5ba;
  border-radius: 5px;
}

/*Form*/
.div-information .information-content {
  display: flex;
  width: 100%;
}
.user-img{
  width: 30%;
}
.user-information{
  width: 70%;
}
.info-user-title {
  padding: 0px 0px 0px 20px;
  width: 30%;
  height: 100%;
}

.info-user-title p {
  margin-bottom: 16px !important;
  font-size: 18px;
  font-weight: 600;
}

.info-user-title svg {
  margin: 0px 10px;
}

.info-user-content {
  width: 70%;
  height: 100%;
}

.info-user-content p{
  margin-bottom: 16px !important;
  font-size: 18px;
}

.ant-input{
  margin-bottom: 11.5px !important;
}

/*Form Edit*/
.ant-form{
  width: 100%;
}
/*Tab*/
.ant-tabs{
  width: 100%;
}
.ant-tabs-nav{
  margin: 0px 0px 3px 0px !important;
}
.div-btn-edit button .ant-btn-primary {
  color: #fff;
  background: #b69217;
  border-color: #595e0f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-tab-content {
  background-color: white !important;
}
.ant-form-item{
  margin-bottom: 7px !important;
}
.tab-title{
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  height: 40px;
}