.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 65px;
}
.app-header .welcome p{
  font-size: 20px !important;
  font-weight: 600;
  color: gray;
}
.div-svg-header{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color:  antiquewhite;
}
.div-svg-header svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  fill: #c44a8a !important;
}
.div-svg-header svg:hover{
  cursor: pointer;
  fill: #096dd9 !important;
}
.noti-dropdown-title {
  padding: 16px;
}
.noti-dropdown-menu p {
  white-space: pre-wrap;
}

.ant-space-item p{
  font-size: 14px !important;
  color: gray
}

.ant-space-item svg {
  fill: #096dd9;
}
.header-balance{
  min-width: 100px;
  border-radius: 20px;
  padding: 2px 10px;
  display: flex;
  background-color: antiquewhite;
}
.header-balance p{
  font-size: 20px !important;
  font-weight: 550;
  color: darkred;
}
.header-balance svg{
  font-size: 25px !important;
  fill: #c44a8a !important;
}
.change-qrcode{
  display: flex;
  justify-content: space-between;
}