body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Noto Sans', 'Arial', 'Tahoma';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family:'Noto Sans', 'Arial', 'Tahoma';
  font-size: 16px;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0px !important;
  padding: 0px !important;
}

.ant-tabs-content {
  background-color: white;
}
.manage .btn-mybutton{
  background: rgb(124, 96, 177);
  color: white
}
