.dsp-account {
  width: 100%;
  height: 100%;
}

.content-account {
  width: 100%;
  height: 100%;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: white;
}
.ant-tabs {
  height: 100%;
}
.account-form{
  height: 22%;
}
.account-info {
  width: 95%;
  height: 60px;
  background-color: #d8d9da59;
  border: 1px solid #dbdbdb71;
  margin: 10px auto;
}
.account-form button{
  box-shadow: 0 4px 8px 0 #fec675, 0 6px 20px 0 #f1e8dc;
  background-color:#d48806;
  box-shadow: 20px;
  border-radius: 20px;
  margin-left: 82%;
  color:white;
  font-weight:400
}
/*Table*/
/**/
.div-table{
  width: 100%;
  height: 78%;
}
.content-account .div-table .ant-table table{
  margin: 0 auto;
  width: 95%;
  height: 90%;
  overflow: hidden;
}
.content-account .div-table .ant-table table thead{
  table-layout: fixed;
  width: 100%;
}
.content-account .div-table .ant-table table thead th{
  color:   #db5c00 !important;
  font-weight: 600;
  text-align: center;
}

/* .content-account .ant-table table tbody{
  height: 300px;
  width: 100%;
  overflow: auto;
} */
/* .content-account .div-table .ant-table table thead{
  table-layout: fixed;
  width: 100%;
  display: table;
  color: #d48806;
}
.content-account .div-table .ant-table table thead th{
  color:   #db5c00 !important;
  font-weight: 600;
}
.content-account .div-table .ant-table table tr th,td{
  text-align: center !important;
}
.content-account .ant-table table tbody{
  display: block;
  height: 300px;
  width: 100%;
  overflow: auto;
}
.content-account .ant-table table tbody tr{
  display: table;
  width: 100%;
  table-layout: fixed;
} */