.dsp-account {
  width: 100%;
  height: 100%;
}

.content-account {
  width: 100%;
  height: calc(100% - 190px);
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: white;
}

.account-title {
  width: 100%;
  height: 50px;
  border-radius: 6px 6px 0 0;
}

.account-title p {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 550;
  color: darkslategray;
  font-family: 'Noto Sans', 'Arial', 'Tahoma';
  height: 100%;
}

.account-info {
  width: 95%;
  height: 60px;
  background-color: #d8d9da59;
  border: 1px solid #dbdbdb71;
  margin: 10px auto;
}
.account-form button{
  box-shadow: 0 4px 8px 0 #fec675, 0 6px 20px 0 #f1e8dc;
  background-color:#d48806;
  box-shadow: 20px;
  border-radius: 20px;
  margin-left: 82%;
  color:white;
  font-weight:400
}
/*Table*/
.content-account table {
  height: calc(100% - 170px);
  width: 95%;
  margin: 0 auto;
  box-shadow: 3px 4px 6px #1111fc12;
}
.content-account table tr td {
  height: 50px;
  text-align: center;
}
/*tHead*/
.content-account table thead{
  table-layout: fixed;
  display: table;
  width: 100%;
  background-color: #efdbff;
}
.content-account table thead th {
  text-align: center;
  color: #5a3ed8;
  height: 40px;
  padding: 15px 0px;
}
/*tBody*/

.content-account table tbody{
  display: block;
  height: 100px;
  width: 100%;
}
.content-account table tbody tr{ 
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 50px;
}