.home {
  width: 100%;
  height: 100%;
  display: flex;
}

/*Left*/
.home-left{
  width: 75%;
  height: 100%;
}
.home-statistic {
  display: flex;
  width: 100%;
  height: 40%;
}

.home-statistic-items{
  position: relative;
  width: 50%;
  height: calc(100% - 20px);
  margin-right: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.home-statistic-info{
  height:40%
}
.home-statistic-info h2{
  color: #2c2c2c;
  font-weight: 600;
  margin: 0px 95px !important;
}
.icon-title-statistics{
   display:flex;
   margin-top: 10px;
   margin-left: 10px;
   text-align: center;
}
.icon-title-statistics h5{
  margin-top: 17px !important;
  margin-left: 10px !important;
  font-weight: 700;
  color: #8c8c8c;
}
.home-statistic-chart{
  padding: 20px;
  height: 60%;
}

.home-history{
  width: calc(100% - 20px);
  height: 60%;
}
.home-history-detail{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.home-history-detail  .home-history-title {
  width: 100%;
  height: 15%;
  padding: 10px 10px;
  border-bottom: 0.2px solid rgb(216, 212, 212);
}
.home-history-title h4{
    margin-top: 0;
    margin-bottom: 0.5em !important;
    font-weight: 700;
    font-size: 19px;
    padding-top: 2px !important;
    padding-left: 20px !important;
    color: #515365;
}
.home-history-table {
  height: 85%;
  overflow: hidden;
}
.div-table-history{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.home-history-table table {
  width: 95%;
  height: calc(100% - 80px);
  margin: 0 auto;
}
.home-history-table table tr th,
td {
  text-align: center;
}

.home-history-table table thead {
  background-color: #e0e6ed;
}

.home-history-table table thead th {
  color: #db5c00;
  font-weight: 600 ;
  padding: 5px 0px;
}

.btn-details-history {
  margin-top: 2%;
  margin-left: 80%;
}

/*Right*/
.home-right{
  width: 25%;
}
.home-user {
  width: 100%;
  height: 60%;
}
.home-user-detail{
  height: calc(100% - 20px);
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}
.home-user-detail .div-img{
  position: relative;
  border-radius: 6px 6px 0px 0px;
  height: 32%;
  width: 100%;
  background-color: #db5c00;
}

.home-user-detail .div-img img {
  position: absolute;
  top: 30%;
  left:28%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.home-user-info {
  height: 68%;
  width: 100%;
}
.home-user-info .information{
  padding-top: 50px;
}
.home-user-info span {
  display: block;
  text-align: center;
}

.home-user-info .name {
  font-weight: 600;
}


.home-qrcode {
  position: relative;
  width: 100%;
  height: 40%;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.home-qrcode p{
  text-align: center;
  font-weight: 600;
  padding: 10px 0px !important;
}
.home-qrcode-img{
  display: flex;
  justify-content: center;
  padding: 0 16px;
}
.home-qrcode img {
  width: 170px;
  height: 170px;
}