.home {
  margin: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
}

/*Left*/
.home-left{
  width: 65%;
  height: 100%;
}
.home-statistic {
  display: flex;
  width: 100%;
  height: 40%;
}

.home-statistic-items{
  position: relative;
  width: 48%;
  height: 90%;
  margin-right: 4%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.home-statistic-info{
  height:40%
}
.home-statistic-info h2{
  color: #2c2c2c;
  font-weight: 600;
  margin: 0px 95px !important;
}
.icon-title-statistics{
   display:flex;
   margin-top: 10px;
   margin-left: 10px;
   text-align: center;
}
.icon-title-statistics h5{
  margin-top: 17px !important;
  margin-left: 10px !important;
  font-weight: 700;
  color: #8c8c8c;
}
.home-statistic-chart{
  height: 60%;
}
.home-history{
  width: 96%;
  height: 60%; 
}
.home-history-detail{
  width: 100%;
  height: 80%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.home-history-detail  .home-history-title {
  width: 100%;
  height: 15%;
  padding: 10px 10px;
  border-bottom: 0.2px solid rgb(216, 212, 212);
}
.home-history-title h4{
    margin-top: 0;
    margin-bottom: 0.5em !important;
    font-weight: 700;
    font-size: 19px;
    padding-top: 2px !important;
    padding-left: 20px !important;
    color: #515365;
}
.home-history-table {
  height: 85%;
  overflow: hidden;
  margin: 5px 0px;
}
.div-table-history{
  height: 80%;
  width: 100%;
  overflow: hidden;
}
.btn-history-detail {
  margin-top: 1%;
  margin-left: 80%;
}
.home-history-table table {
  width: 95%;
  height: calc(100% - 80px);
  margin: 0 auto;
}
.home-history-table table tr th,
td {
  text-align: center;
}

.home-history-table table thead {
  background-color: #e0e6ed;
}

.home-history-table table thead th {
  color: #1b55e2;
  padding: 5px 0px;
}

.btn-details-history {
  margin-top: 2%;
  margin-left: 80%;
}

/*Right*/
.home-right{
  width: 35%;
}
.home-user {
  width: 90%;
  height: 300px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);

}

.home-user img {
  margin-top: 10px;
  margin-left: 100px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.home-user .btn-details-user {
  margin-top: 15px;
  margin-left: 220px;
}

.home-user-info {
  margin-top: 10px;
  width: 100%;
}

.home-user-info span {
  display: block;
  text-align: center;
}

.home-user-info .name {
  font-weight: 600;
}

.home-qrcode {
  position: relative;
  width: 90%;
  height: 205px;
  margin-top: 30px;
  background: url('../../../img/cardid1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.1);
}

.home-qrcode img {
  margin-top: 23%;
  margin-left: 26%;
  width: 95px;
  height: 95px;
}
.home-qrcode .zoom {
  position: absolute;
  top: 78%;
  left: 88%;
}