*{
  font-size: 16px;
}
.notification{
  width: 100%;
  height: 100%;
}
.table-notification{
  width: 100%;
  height: calc(100% - 190px);
  border-radius: 6px;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
  background-color: white;
}
.notification-title{
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 40px;
}
.notification-title p{
    margin: 20px;
    font-size: 25px;
    color: darkslategray;
    font-weight: 550;
}
/*---------------Table-----------------*/
.table-notification table{
  margin: 10px auto;
  padding: 0px 30px;
  width: 95%;
  height: calc(100%- 60px);
}
.table-notification table th, td
{
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 5px 0px;
}
/*tHead*/
.table-notification table thead{
  table-layout: fixed;
  width: 98%;
  display: table;
  background-color: #e0e6ed;
}
.table-notification table thead tr{
  color: #1b55e2;
  text-align: center;
  height: 60px;
}
/*tBody*/
.table-notification table tbody{
  display: block;
  height: 300px;
  width: 100%;
  overflow: auto;
}
.table-notification table tbody tr{
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 50px;
}

.level{
  width: 80px;
  height: 10px;
  border-radius: 10px ;
}
.table-notification table td svg{
  font-size: 1.7rem;
  fill: #595959;
}
.table-notification table td svg :hover{
  fill:#820014;
}