.notification{
  width: 100%;
  height: 100%;
}
.table-notification{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
  background-color: white;
}
.notification-title{
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 40px;
}
.notification-title p{
    margin: 20px !important;
    font-size: 25px;
    color: darkslategray;
    font-weight: 550;
}
/*Tab*/
.ant-tabs {
  padding: 0px 20px !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #c44a8a !important;
  font-weight: 600 !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #c44a8a !important;
  pointer-events: none;
}

/*Table*/
/* .table-notification .ant-table table{
  height: calc(100%- 60px);
  overflow: hidden;
}
.table-notification .ant-table table thead{
  table-layout: fixed;
  width: 98%;
  display: table;
}
.table-notification .ant-table table thead th{
  color:  #1b55e2 !important;
  font-weight: 600;
}
.table-notification .ant-table table tr th, td{
  text-align: center !important;
}
.table-notification .ant-table table tbody{
  display: block;
  height: 300px;
  width: 100%;
  overflow: auto;
}
.table-notification .ant-table table tbody tr{
  display: table;
  width: 100%;
  table-layout: fixed;
} */

.table-notification .ant-table{
  height: 475px !important;
  overflow: auto;
}